ul {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.line2{
    border-bottom: 2px solid #CCCCCC;

}
.logo> img{
    width: 40px;
    height: 40px;
}

.logo > span{
    color: #FF5A5F;
    text-decoration: none;
    padding-left: 10px;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.right-nav{
    display: flex;
}
.create-new-spot-link{
    text-decoration: none;
    color:rgb(1,53,53);
    font-size: 15px;
}
.button1{
    margin-top: 30px;
    width: 200px;
    height: 30px;
    background-color: white;
    border: none;
}
