.profile-dropdown{
    display: flex;
    position: absolute;
    padding: 10px;
    cursor: pointer;
    right: 20px;
    margin-top: 10px;
    background-color: white;
}
.profile-dropdown.hidden{
    display: none;
}
.button{
    margin-top: 15px;
    cursor: pointer;
    font: 20px;
    border-radius: 80px;
    width: 60px;
    height: 30px;
    color: black;
    background-color: white;
}
.log{
    position: absolute;
    border: 2px solid;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    right: 0px;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.managelink{
    text-decoration: none;
    color: black;
}
.logoutbutton{
    text-decoration: none;
    margin-top: 5px;
    text-align: center;
    color: white;
}
.userlogin{
    padding: 8px;
    border: 2px solid;
    text-align: center;
}
.userlogin>div{
    font-size: 13px;
}
.userlogin>button{
    font-size: 15px;
    border-radius: 80px;
}
.logoutbutton button {
    border-radius: 80px;
    width: 80%;
    height: 25px;
    background-color: darkgray;
    font-size: 12px;
}
.line{
    height: 2px;
    background-color: black;
    width: 100%;
    margin: 2px 0px;
}
.line1{
    height: 1px;
    background-color: black;
    width: 50%;
    display: flex;
    align-self: center;
}
