div,
span{
    font-size: 16px;
    color:black;

}
.spots-container{
    display: grid;
}

.spots-list img {
    width: 350px;
    height: 250px;
    border-radius: 40px;
}

.spots-list{
    cursor:pointer;
    width:85%;
    align-items: center;
    margin: auto;
    padding: 10px;

}
.city {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.price-con, .money{
text-align: left;
font-weight: bold;
}
.rating {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.price{
    font-weight: bold;
}
.spot-description{
    padding: 10px 20px;
    width: 90%;
}
@media(min-width: 800px){
    .spots-container{
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        row-gap: 40px;
    }
    .wrap{
        padding: 60px 100px;
    }
}
@media(max-width: 800px){
    .spots-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px){
    .spots-container{
        grid-template-columns: 1fr;
    }
}
